.footer-nav-link {
  padding: 2rem 0 0.5rem;
  line-height: 1.375rem;
  font-size: 1.25rem;
}

.footer-nav-link:hover .nav-text-span,
.footer-nav-link:focus .nav-text-span {
  transform: scale(1.1);
}

.footer-nav-link.active:hover .nav-text-span,
.footer-nav-link.active:focus .nav-text-span {
  transform: scale(1.1);
}
