.admin-info-editor-buttons {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  padding: 1.5rem 0;
}

@media (max-width: 1110px) {
  .admin-info-editor-buttons {
    justify-content: center;
  }
}
