.checkbox-input-container {
  padding-top: 1rem;
}

.checkbox-input-container.disabled:not(.skeleton-checkbox) {
  opacity: 0.3;
}

.checkbox-input-container label .checkbox-label {
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--dark-gray);
  margin-left: 5px;
  vertical-align: text-top;
}

.checkbox-input-container input[type='checkbox'] {
  opacity: 0 !important;
}

.checkbox-input-container label span.checkbox {
  height: 12px;
  width: 12px;
  border: 2px solid var(--dark-gray);
  border-radius: 4px;
  display: inline-block;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  margin-left: -20px;
}

.checkbox-input-container span.checkbox:hover {
  background-color: #464646;
}

.checkbox-input-container input[type='checkbox']:focus + span.checkbox {
  background-color: #464646;
}

.checkbox-input-container input[type='checkbox']:checked + span.checkbox {
  border: none;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--primary-red);
  background-image: url('assets/img/checkmark.svg');
}

.checkbox-input-container.disabled input[type='checkbox'] + span.checkbox {
  pointer-events: none;
}

.checkbox-input-container.disabled
  input[type='checkbox']:checked
  + span.checkbox {
  background-color: var(--dark-gray);
}

.checkbox-input-container.skeleton-checkbox
  input[type='checkbox']:not(:checked)
  + span.checkbox {
  border: 2px solid transparent;
}

/* stylelint-disable-next-line */
.checkbox-input-container.skeleton-checkbox
  input[type='checkbox']
  + span.checkbox,
.checkbox-input-container.skeleton-checkbox
  input[type='checkbox']:checked
  + span.checkbox,
.checkbox-input-container.skeleton-checkbox.disabled
  input[type='checkbox']
  + span.checkbox {
  background-color: unset;
  background-image: none;
  animation: skeleton-loading 1s linear infinite alternate;
}
