.logo-layout {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.logo-layout-logo {
  display: inline-block;
  margin: 0 auto;
  width: 277px;
  height: 160px;
}

.logo-layout-logo,
.logo-layout-logo img {
  max-width: 100%;
}

.logo-layout .form-container {
  min-height: 512px;
}

.logo-layout .input-container {
  max-width: 326px;
}

@media (max-width: 276px) {
  .logo-layout-logo {
    height: auto;
  }
}

@media (max-height: 600px) {
  .logo-layout:has(.sign-in-form-container) {
    height: unset;
  }

  .logo-layout .sign-in-form-container {
    min-height: unset;
  }
}

@media (max-width: 570px) and (max-height: 780px) {
  .logo-layout:has(.sign-up-form-container) {
    height: unset;
  }

  .logo-layout .sign-up-form-container {
    min-height: unset;
  }
}

@media (min-width: 571px) and (max-height: 680px) {
  .logo-layout:has(.sign-up-form-container) {
    height: unset;
  }

  .logo-layout .sign-up-form-container {
    min-height: unset;
  }
}
