/* stylelint-disable selector-class-pattern */
p.error-message,
.section p.error-message {
  color: var(--error-red);
}

p.error-message span,
.section p.error-message span {
  color: var(--error-red);
}

p.error-message .MuiSvgIcon-root,
.section p.error-message .MuiSvgIcon-root {
  background-color: var(--error-red);
}

p.error-message svg {
  font-size: 0.438rem;
  padding: 1px;
  vertical-align: unset;
}
