#events {
  background: var(--background-black);
}

.events-wrapper {
  flex: 1;
}

.section#events p {
  padding: unset;
}

#events .background-icon {
  position: absolute;
  top: 50%;
  z-index: 0;
  right: 0;
}

#events p.dimmed {
  color: #707070;
}

.events-wrapper .event-group .heading {
  line-height: 1.4;
}

#events .event-group:first-child .heading {
  margin-top: 2rem;
}

@media (max-width: 600px) {
  #events .background-icon {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 899px) {
  .filter-column-wrapper .card {
    max-width: 175px;
    margin: 0 auto 2rem;
  }

  .filter-column-wrapper .card.event-card .card-button {
    margin-top: -12px;
    font-size: 0.75rem;
    min-height: 14px;
  }

  .filter-column-wrapper .card.event-card .caption-details {
    padding: 10% 5% 0;
  }

  .filter-column-wrapper .card.event-card .caption-title {
    font-size: 1rem;
    height: 37px;
    padding: 0 2%;
  }

  .filter-column-wrapper .card.event-card .caption-icon {
    font-size: 0.65rem;
    min-height: unset;
  }

  .filter-column-wrapper .card.event-card .caption-icon svg {
    font-size: 0.9rem;
    vertical-align: text-bottom;
  }
}
