.home-counter {
  text-align: center;
}

.home-counter.section .home-opportunities {
  margin: 12rem auto;
}

.home-counter.section p {
  margin: 0;
  padding: 0;
}

.home-counter.section .home-opportunities p {
  font-weight: 900;
  font-size: 5rem;
}

.home-numbers div {
  width: 33.3%;
}

.home-counter.section .number {
  font-size: 6rem;
  font-weight: 400;
}

.home-counter.section p.number-label {
  font-size: 2.625rem;
  margin-top: 1rem;
}

@media (max-width: 600px) {
  .home-counter.section .home-opportunities p {
    font-size: 1.75rem;
  }

  .home-counter.section .home-opportunities span {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .home-counter.section .number {
    font-size: 3.6rem;
  }

  .home-counter.section p.number-label {
    font-size: 1.6rem;
    margin-top: 0;
  }

  .home-numbers.flex-centered {
    flex-direction: column;
  }

  .home-numbers div {
    width: 100%;
    margin: 1.5rem auto;
  }

  .home-counter.section .home-opportunities {
    margin: 2rem auto;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .home-counter.section .home-opportunities p {
    font-size: 3rem;
  }

  .home-counter.section .home-opportunities span {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .home-counter.section p.number-label {
    margin-top: 0.25rem;
  }

  .home-numbers.flex-centered {
    flex-direction: column;
  }

  .home-numbers div {
    width: 100%;
    margin: 2rem auto;
  }

  .home-counter.section .home-opportunities {
    margin: 3rem auto;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .home-counter.section .home-opportunities p {
    font-size: 2.5rem;
  }

  .home-counter.section .home-opportunities span {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
  }

  .home-counter.section .number {
    font-size: 3rem;
  }

  .home-counter.section p.number-label {
    font-size: 1.3rem;
    margin-top: 0.6rem;
  }

  .home-numbers {
    flex-direction: row;
  }

  .home-numbers div {
    width: 33.3%;
    margin: inherit;
  }

  .home-counter.section .home-opportunities {
    margin: 3rem auto;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .home-counter.section .home-opportunities p {
    font-size: 3rem;
  }

  .home-counter.section .number {
    font-size: 3.6rem;
  }

  .home-counter.section p.number-label {
    font-size: 1.6rem;
    margin-top: 0.7rem;
  }

  .home-counter.section .home-opportunities {
    margin: 5rem auto;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .home-counter.section .home-opportunities p {
    font-size: 4rem;
  }

  .home-counter.section .number {
    font-size: 4.8rem;
  }

  .home-counter.section p.number-label {
    font-size: 2.1rem;
    margin-top: 0.8rem;
  }

  .home-counter.section .home-opportunities {
    margin: 8rem auto;
  }
}

@media (min-width: 1440px) and (max-width: 1600px) {
  .home-counter.section .home-opportunities p {
    font-size: 4.25rem;
  }

  .home-counter.section .home-opportunities {
    margin: 12rem auto;
  }
}
