.header-search-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 1.5rem;
  border: 2px solid white;
  border-radius: 200px;
  margin-right: 2.5rem;
  padding: 1rem;
  transition-timing-function: ease-out;
  transition-duration: 300ms;
  transition-property: width;
}

.header-search-box:hover,
.header-search-box:focus {
  width: 10rem;
  background-color: white;
}

.header-search-box-closed {
  width: 1.5rem;
}

.header-search-box-open {
  width: 10rem;
  background-color: white;
}

.header-search-box-open input {
  background-color: white;
}

.header-search-box-input {
  border-width: 0;
  height: 1.5rem;
  color: var(--primary-red);
  font-size: 1.375rem;
  width: 80%;
}

.header-search-box-input::placeholder {
  opacity: 0.2;
}

.header-search-box-input:focus {
  outline-width: 0;
}

.header-search-box-icon {
  transform: scale(1.3);
  right: 0;
  position: relative;
}

.header-search-box-icon-open {
  fill: red;
}

@media only screen and (max-width: 768px) {
  .header-search-box {
    margin: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .header-search-box {
    margin-right: 0.5rem;
    height: 1.5rem;
    padding: 0.6rem;
  }

  .header-search-box-closed {
    margin-right: 0.5rem;
  }

  .header-search-box:hover,
  .header-search-box:focus {
    width: 6rem;
  }

  .header-search-box-open {
    width: 6rem;
  }

  .header-search-box-input {
    font-size: 1rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .header-search-box {
    margin-right: 0.5rem;
  }

  .header-search-box-closed {
    margin-right: 0.5rem;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .header-search-box {
    margin-right: 1.5rem;
  }

  .header-search-box-closed {
    margin-right: 1.5rem;
  }
}
