.partners-carousel {
  height: 170px;
}

.partners-carousel .carousel-block button {
  background-color: #fff;
  border-radius: 58px;
}

.partners-carousel .carousel-block img {
  max-width: 80%;
  max-height: 80%;
}

.partners-button-base {
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  .partners-carousel {
    height: 100px;
  }

  .partners-carousel .carousel-block button {
    border-radius: 35px;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .partners-carousel {
    height: 120px;
  }

  .partners-carousel .carousel-block button {
    border-radius: 42px;
  }
}
