.sliding-element.right {
  transform: translateX(100%);
}

.sliding-element.left {
  transform: translateX(-100%);
}

.sliding-element.right.visible {
  animation: slide-in-right 2s forwards;
  animation-delay: 0.2s;
}

.sliding-element.left.visible {
  animation: slide-in-left 2s forwards;
  animation-delay: 0.2s;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
  }

  68%,
  72% {
    transform: translateX(-2%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
  }

  68%,
  72% {
    transform: translateX(2%);
  }

  100% {
    transform: translateX(0%);
  }
}
