.nav-link-component {
  color: #fff;
  display: block;
  transition-timing-function: ease-out;
  transition-duration: 0.3s;
  transition-delay: 0s;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  box-sizing: border-box;
}

.nav-link-component:focus,
.nav-link-component:hover {
  text-decoration: none;
}

.nav-link-component::after,
.nav-link-component::before {
  content: '';
  position: absolute;
  transition-property: width;
  transition-timing-function: ease-out;
  transition-duration: 0.3s;
  width: 0;
  height: 2px;
  background-color: #fff;
  bottom: 0%;
  left: 0%;
  right: 0;
  margin: 0 auto;
}

.nav-link-component:hover::after,
.nav-link-component:focus::after,
.nav-link-component:hover::before,
.nav-link-component:focus::before {
  background-color: #fff;
  outline: 0;
  width: 100%;
}

.nav-link-component.active::after {
  width: 100%;
}

.nav-text-span {
  display: inline-block;
  transition-property: transform;
  transition-timing-function: ease-out;
  transition-duration: 0.3s;
}

@media (max-width: 600px) {
  .nav-link-component {
    font-size: 1rem;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .nav-link-component {
    font-size: 1.3rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .nav-link-component {
    font-size: 1.7rem;
  }
}
