.entity-section {
  margin-top: 3.5rem;
  position: relative;
}

.conditional-input.description-conditional-input :is(p, textarea) {
  line-height: 1.25;
}

.entity-section.description p,
.conditional-input.description-conditional-input.input-container textarea {
  font-size: 1.5rem;
  font-weight: 100;
  text-align: justify;
}

.entity-section:nth-child(2) {
  margin-top: 0;
}

.entity-section:nth-child(2) .heading {
  margin-top: 0;
}

.entity-section .heading.with-subheading {
  margin-bottom: 0.5rem;
}

.entity-section.description p {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.entity-section .heading + div > .heading {
  margin-top: 0;
}

@media screen and (max-width: 600px) {
  .entity-section .heading,
  .entity-section .heading + div > .heading {
    padding-top: 5rem;
    margin-top: -3rem;
  }

  .entity-section .heading + div > .heading {
    padding-top: 3rem;
  }

  .entity-section.description p,
  .conditional-input.description-conditional-input.input-container textarea {
    font-size: 1rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  .entity-section .heading,
  .entity-section .heading + div > .heading {
    padding-top: 5rem;
    margin-top: -3rem;
  }

  .entity-section .heading + div > .heading {
    padding-top: 3rem;
  }

  .entity-section.description p,
  .conditional-input.description-conditional-input.input-container textarea {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .entity-section.description p,
  .conditional-input.description-conditional-input.input-container textarea {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .entity-section.description p,
  .conditional-input.description-conditional-input.input-container textarea {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .entity-section.description p,
  .conditional-input.description-conditional-input.input-container textarea {
    font-size: 1.2rem;
  }
}
