/* stylelint-disable selector-class-pattern */
button,
.button-link {
  font-size: 0.875rem;
  font-weight: 400;
  border: none;
  padding: 0.625rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

button {
  min-width: 90px;
}

button,
.button-link,
.MuiButtonBase-root {
  transition:
    all 0.4s,
    border-radius 0.2s ease 0.1s;
}

.button-link {
  text-decoration: none;
  color: var(--primary-white);
  display: inline-block;
  vertical-align: bottom;
  line-height: normal;
}

.button-link:hover {
  text-decoration: none;
}

button.primary-button,
.button-link.primary-button {
  background-color: var(--primary-red);
}

button.primary-button,
.button-link.primary-button,
button.uppercase {
  text-transform: uppercase;
}

button.primary-button:hover,
.button-link.primary-button:hover {
  background-color: #9c2125;
}

button.secondary-button,
.button-link.secondary-button {
  color: var(--primary-red);
  background-color: transparent;
}

button.disabled,
.button-link.disabled {
  pointer-events: none;
  background-color: #ececec4f;
}

button.secondary-button:hover,
.button-link.secondary-button:hover {
  background-color: #2a2a2a;
}

button.inverted,
.button-link.inverted {
  background-color: #3a3a3a;
}

button.round,
.button-link.round {
  border-radius: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}

button.inverted:hover,
.button-link.inverted:hover {
  background-color: var(--primary-red);
}

button.white,
.button-link.white {
  color: white;
}

.form-single-button {
  align-self: end;
  margin-top: 1.5rem;
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgb(255 255 255 / 35%);
}

.contact-board-button {
  border-radius: 20px;
  background-color: #3a3a3a;
  color: #e3e3e3;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.75rem 1.25rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.contact-board-button:hover {
  background-color: #e3e3e3;
  color: #3a3a3a;
}

.secondary-button svg {
  fill: var(--primary-red);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
