.branch-card {
  width: 490px;
  max-width: 100%;
  border-radius: 30px;
  aspect-ratio: 490/243;
  background-image: url('assets/img/entity-placeholder.jpg');
  background-size: cover;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
}

.terminated {
  filter: grayscale(0.8);
}

.branch-card:hover {
  text-decoration: none;
}

.branch-card-captions {
  width: 100%;
  font-size: 2.125rem;
  padding: 0 2rem 1rem;
  height: 50%;
  display: flex;
  background: linear-gradient(to bottom, transparent 0%, #000000b0 100%);
  flex-direction: column;
  justify-content: flex-end;
}

.branch-card .branch-card-captions p {
  padding: 0;
  margin: 0;
  color: var(--primary-white);
}

.branch-card-captions p:first-child {
  font-size: 1em;
  font-weight: 900;
  transform-origin: left bottom;
  transition: 0.3s;
  max-width: calc(74% + (0.74 * 4rem));
}

.branch-card-captions p:last-child {
  font-size: 0.53em;
  font-weight: 100;
  margin-top: 0.25rem;
}

.branch-card:hover .branch-card-captions p:first-child {
  transform: scale(1.235);
}

@media (max-width: 600px) {
  .branch-card-captions {
    font-size: 1.7rem;
  }

  .branch-card {
    margin: 0 auto;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .branch-card-captions {
    font-size: 1.3rem;
  }

  .branch-card-captions p:first-child {
    max-width: calc(74% + (0.74 * 2rem));
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .branch-card-captions {
    font-size: 1.85rem;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .branch-card-captions {
    font-size: 1.85rem;
  }
}
