.entity-section .heading + .card-subheading {
  margin-top: 0;
}

.entity-header.branch-header {
  background-image: url('assets/img/entity-banner-placeholder.jpg');
}

.entity-header.branch-header.terminated {
  filter: grayscale(1);
}
