.single-entity-selector {
  background: var(--background-gray);
  padding: 2rem;
  border-radius: 0.5rem;
  flex: 1 1 auto;
  max-width: min(400px, 100%);
}

.single-entity-selector h2 {
  margin-top: 0;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: white;
}

.single-entity-selector-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.single-entity-selector-content .autocomplete-container {
  max-width: 100%;
  width: max(80%, 230px);
}
