/* stylelint-disable number-max-precision */
/* stylelint-disable selector-class-pattern */
[data-field='first_name'],
[data-field='last_name'] {
  text-transform: capitalize;
}

.admin-panel-datagrid,
.admin-panel-datagrid * {
  color: white;
}

.MuiDataGrid-panel .MuiFormLabel-root.Mui-focused {
  color: black;
}

.MuiDataGrid-panel .MuiInputBase-root.MuiInput-root::after {
  border-bottom: 2px solid black;
}

.admin-datagrid-batch-action-item {
  padding-left: 0.75rem;
}

.admin-datagrid-batch-action-item svg {
  fill: var(--primary-red);
  margin-right: 0.75rem;
}

.admin-panel-grid-actions-menu-cell {
  padding-left: 0.75rem;
}

.admin-panel-grid-actions-menu-cell svg {
  fill: var(--primary-red);
  margin-right: 0.75rem;
}

.admin-panel-datagrid button,
.MuiPaper-root button {
  min-width: unset;
}

.admin-panel-datagrid .admin-datagrid-pagination button {
  min-width: 32px;
}

.admin-panel-grid-actions-cell-line-before {
  position: relative;
  margin-top: 1px;
}

.admin-panel-grid-actions-cell-line-before::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #707070;
  opacity: 0.2;
  position: absolute;
  top: -1px;
  left: 0;
}

/* TODO: quick filter styles are kinda like FilteringTextInput ones, figure it out and merge somehow when working on StyledComponents */
.admin-data-grid-quick-filter {
  max-width: 100%;
}

.admin-data-grid-quick-filter > div {
  /* color: white; */
  width: 320px;
  height: 36px;
  max-width: 100%;
  position: relative;
}

.admin-data-grid-quick-filter input {
  width: calc(100% - 4rem);
  height: calc(100% - 0.25rem);
  padding: 1px 3rem 1px 0.75rem;
  padding-right: 3rem;
  padding-left: 0.75rem;
  background: #303030;
  border-radius: 5px;
  border: 1px solid #707070;
  font-weight: 300;
  font-size: 0.9rem;
  color: var(--primary-white);
  padding-top: 1px;
  margin-left: 0;
}

.admin-data-grid-quick-filter svg {
  fill: #707070;
}

.admin-data-grid-quick-filter:has(input:not(:placeholder-shown)) > div > svg {
  display: none;
}

.admin-data-grid-quick-filter > div > :not(input) {
  position: absolute;
  top: 19px;
  transform: translateY(-50%);
  right: calc(0.75rem - 5px);
  padding: 5px;
  min-width: unset;
}

.admin-data-grid-quick-filter > div::after,
.admin-data-grid-quick-filter > div::before {
  border: none !important;
}

.admin-data-grid-quick-filter-container {
  text-align: right;
}

.admin-data-grid-toolbar-actions {
  margin-left: auto;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  padding: 4px 5px;
}

.admin-data-grid-toolbar-container {
  justify-content: space-between;
}

.MuiDataGrid-cell.MuiDataGrid-cell--editing {
  background-color: black !important;
}

.datagrid-applications {
  width: 700px;
  max-width: 100%;
}

.admin-panel-datagrid .MuiLinearProgress-root {
  background-color: var(--primary-red);
}

.admin-panel-datagrid .MuiLinearProgress-bar {
  background-color: var(--error-red);
}

.admin-panel-datagrid .MuiPaginationItem-root.Mui-selected {
  background-color: var(--primary-red);
}
