.not-found-container {
  padding: 3rem;
  text-align: center;
  max-width: 100%;
}

.not-found-container .heading-h1 {
  font-size: 6rem;
  margin-bottom: 0.3rem;
}

.not-found-container .heading-h2 {
  color: var(--primary-white);
  text-transform: uppercase;
}

.not-found-button {
  text-transform: uppercase;
}
