.data-grid-avatar {
  position: relative;
}

label.data-grid-avatar-image-file-input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  left: 0;
}

label.data-grid-avatar-image-file-input svg {
  width: 80%;
  height: 80%;
}

label.data-grid-avatar-image-file-input:hover,
label.data-grid-avatar-image-file-input:focus {
  opacity: 0.6;
}
