/* stylelint-disable selector-class-pattern */
p.no-cards,
.section p.no-cards,
.section .entity-section p.no-cards.dimmed,
.section#events p.no-cards {
  text-align: center;
  font-size: 1.25rem;
  margin-top: 4rem;
}

.cards-container {
  margin-top: 2rem;
}

.entity-section .cards-container {
  margin-top: 0;
}

.horizontal-cards-container {
  display: flex;
  overflow: auto hidden;
  padding-bottom: 3rem;
  white-space: nowrap;
}

.horizontal-cards-container .card,
.horizontal-cards-container .card.person.card {
  margin: 0 1rem 0 0;
}

.horizontal-cards-container .card .card-image {
  width: unset;
}

.horizontal-cards-container .show-more-button-wrapper {
  overflow: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  align-self: center;
}

.horizontal-cards-container .show-more-button-wrapper button {
  width: 150px;
  white-space: pre-line;
}

/* width */
.horizontal-cards-container::-webkit-scrollbar {
  height: 0.5rem;
}

/* Handle */
.horizontal-cards-container::-webkit-scrollbar-thumb {
  background: #707070;
  border-radius: 10px;
}

/* Handle on hover */
.horizontal-cards-container::-webkit-scrollbar-thumb:hover {
  background: #8a8a8a;
}

@media (max-width: 768px) {
  .cards-container:not(.horizontal-cards-container) {
    margin-top: 1rem;
  }

  .horizontal-cards-container {
    padding-bottom: 1rem;
  }

  .horizontal-cards-container div.card,
  .horizontal-cards-container div.card.person.card {
    max-width: 175px;
    margin: 0 1rem 2rem;
  }
}

@media (min-width: 2137px) {
  .cards-container.grid-xxl-25 div.MuiGrid-root.MuiGrid-item {
    flex-basis: 25%;
    max-width: 25%;
  }

  .cards-container.grid-xxl-16 div.MuiGrid-root.MuiGrid-item {
    flex-basis: 20%;
    max-width: 20%;
  }
}
