button.clickable-icon {
  background: none;
  border-radius: 1.5rem;
  width: auto;
  align-self: baseline;
  padding: 3px;
  min-width: unset;
  border: none;
}

button.clickable-icon:hover {
  background: #707070;
}

.clickable-icon.form-header-icon {
  position: absolute;
  top: 0.75rem;
  left: -3rem;
}

/* stylelint-disable-next-line selector-class-pattern */
.clickable-icon .MuiSvgIcon-root {
  fill: #fff;
}

.form-header-icon svg {
  font-size: 18px;
}

.clickable-icon.visibility-icon {
  top: 50%;
  margin-top: -5px;
  position: absolute;
  right: 1.5rem;
  display: none;
}

.visibility-icon svg {
  font-size: 27px;
  fill: var(--primary-white);
}

.input-container:focus-within .clickable-icon.visibility-icon {
  display: inherit;
}

.input-container input:not(input[value='']) ~ .clickable-icon.visibility-icon {
  display: inherit;
}

@media (max-width: 326px) {
  .clickable-icon.visibility-icon {
    margin-top: -13px;
  }
}

@media (max-width: 660px) {
  .form-container.form-container-wide .clickable-icon.form-header-icon,
  .form-container.form-container-wide
    .clickable-icon.form-header-icon
    + .form-heading {
    margin-left: 3rem;
  }
}
