/* stylelint-disable selector-class-pattern */
.edit-icons-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: right;
  justify-content: flex-end;
  padding: 0 1rem;
}

.edit-icons-wrapper button {
  min-width: unset;
  color: var(--primary-white);
}

.edit-icons-wrapper.names {
  justify-content: center;
  text-align: center;
  align-items: center;
  width: calc(100% - 2rem);
  margin-top: -0.75rem;
  margin-bottom: 0.75rem;
}

.edit-icons-wrapper.entity-section-edit-icons {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 80px;
}

.edit-icons-wrapper.entity-section-edit-icons.profile-description-icons {
  background-color: var(--background-gray);
  top: -0.25rem;
}

.edit-icons-wrapper .css-8je8zh-MuiTouchRipple-root {
  margin: auto;
  width: 40px;
  height: 40px;
}

.edit-icons-wrapper .MuiCircularProgress-circle {
  color: var(--primary-white);
}

@media (max-width: 600px) {
  .edit-icons-wrapper.editing.entity-section-edit-icons.description-icons {
    justify-content: space-between;
  }

  .edit-icons-wrapper.entity-section-edit-icons.description-icons.profile-description-icons {
    padding: 0;
    background: transparent;
    width: 100%;
    right: 0;
    left: 0;
  }
}

@media (max-width: 768px) {
  .edit-icons-wrapper.entity-section-edit-icons {
    margin-top: 3rem;
  }

  .edit-icons-wrapper.entity-section-edit-icons.description-icons:not(
      .profile-description-icons
    ) {
    padding: 0;
    background: transparent;
    width: 100%;
    right: 0;
    left: 0;
  }

  .edit-icons-wrapper.entity-section-edit-icons.profile-description-icons {
    top: 1.25rem;
    margin-top: 0;
  }
}

@media (max-width: 992px) {
  .edit-icons-wrapper.entity-section-edit-icons {
    padding: 0;
    right: -1.5rem;
  }
}
