.heading {
  font-weight: 400;
  color: var(--primary-red);
}

.event-group .heading {
  text-align: left;
}

.heading-h1 {
  font-size: 3rem;
}

.heading-h2 {
  font-size: 2.5rem;
}

.heading-h3 {
  font-size: 2rem;
}

.heading-h4 {
  font-size: 1.7rem;
}

.heading-h5 {
  font-size: 1.4rem;
}

.heading-h6 {
  font-size: 1.1rem;
}

.line-after::after,
.line-before::before {
  display: inline-block;
  content: '';
  height: 4px;
  background: var(--primary-white);
  position: relative;
  width: 215px;
  margin-top: calc(0.5em + 2px);
  vertical-align: text-top;
}

.line-after::after {
  margin-left: 0.5em;
}

.line-before::before {
  margin-right: 0.5em;
}

@media (max-width: 600px) {
  .heading-h1 {
    font-size: 2rem;
  }

  .heading-h2 {
    font-size: 1.5rem;
  }

  .heading-h3 {
    font-size: 1.25rem;
  }

  .heading-h4 {
    font-size: 1.1rem;
  }

  .heading-h5 {
    font-size: 0.9rem;
  }

  .heading-h6 {
    font-size: 0.7rem;
  }

  .line-after::after,
  .line-before::before {
    display: none;
  }

  .heading,
  .event-group .heading,
  .event-group .heading.line-after {
    text-align: center;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .heading-h1 {
    font-size: 2rem;
  }

  .heading-h2 {
    font-size: 1.5rem;
  }

  .heading-h3 {
    font-size: 1.25rem;
  }

  .heading-h4 {
    font-size: 1.1rem;
  }

  .heading-h5 {
    font-size: 0.9rem;
  }

  .heading-h6 {
    font-size: 0.7rem;
  }

  .line-after::after,
  .line-before::before {
    height: 3px;
    width: 200px;
  }

  .line-after.line-before::after,
  .line-after.line-before::before {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .heading-h1 {
    font-size: 2.25rem;
  }

  .heading-h2 {
    font-size: 1.6rem;
  }

  .heading-h3 {
    font-size: 1.35rem;
  }

  .heading-h4 {
    font-size: 1.175rem;
  }

  .heading-h5 {
    font-size: 1rem;
  }

  .heading-h6 {
    font-size: 0.8rem;
  }

  .line-after::after,
  .line-before::before {
    height: 3px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .heading-h1 {
    font-size: 2.6rem;
  }

  .heading-h2 {
    font-size: 1.9rem;
  }

  .heading-h3 {
    font-size: 1.6rem;
  }

  .heading-h4 {
    font-size: 1.35rem;
  }

  .heading-h5 {
    font-size: 1.15rem;
  }

  .heading-h6 {
    font-size: 0.9rem;
  }

  .line-after::after,
  .line-before::before {
    height: 4px;
  }
}
