/* stylelint-disable selector-class-pattern, no-descending-specificity */
.header {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-left: 7vw;
  margin-right: 7vw;
}

.header-logo-btn {
  display: block;
  height: 160px;
  width: 277px;
}

.header-logo {
  transition: 0.3s;
  transition-timing-function: ease-out;
  height: 100%;
  width: 100%;
}

.header-logo:is(:hover, :focus) {
  transform: scale(1.05);
}

.header-hamburger {
  display: none;
}

.header-items {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.header-navbar-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.header-navbar-list:is(:hover, :focus) .header-nav-link .nav-text-span {
  transform: scale(0.882);
  opacity: 0.5;
}

.header-navbar-list .header-nav-link:hover .nav-text-span {
  transform: scale(1);
  opacity: 1;
}

.header-navbar-list:is(:hover, :focus) .header-nav-link.active::before,
.header-navbar-list:is(:hover, :focus) .header-nav-link.active::after {
  width: 0%;
}

.header-navbar-list:is(:hover, :focus)
  .header-nav-link.active:is(:hover, :focus)
  .nav-text-span {
  transform: scale(1);
  opacity: 1;
}

.header-navbar-list:is(:hover, :focus)
  .header-nav-link.active:is(:hover, :focus)::before,
.header-navbar-list:is(:hover, :focus)
  .header-nav-link.active:is(:hover, :focus)::after {
  width: 100%;
}

.header-right-nav {
  display: flex;
  z-index: 1;
  padding-right: 3rem;
}

@media only screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    top: 0;
    width: 100%;
    background-color: var(--background-black);
    box-shadow: 0 1px #4c4c4c;
    height: 8vh;
    min-height: 50px;
    position: fixed;
    z-index: 3;
    margin-left: 0;
    margin-right: 0;
  }

  .header-hamburger-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .header-hamburger {
    display: block;
    background-color: var(--background-black);
    border: none;
    cursor: pointer;
  }

  .header-hamburger-bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
  }

  .header-hamburger.active .header-hamburger-bar:nth-child(2) {
    opacity: 0;
  }

  .header-hamburger.active .header-hamburger-bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .header-hamburger.active .header-hamburger-bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .header-logo-btn {
    height: 8vh;
    min-height: 50px;
    width: unset;
    display: flex;
    align-items: center;
    margin-right: 0.1rem;
  }

  .header-logo {
    max-height: 90%;
    width: auto;
  }

  .header-logo:is(:focus, :hover) {
    transform: unset;
  }

  .header-items {
    position: fixed;
    transform: translateX(-100%);
    inset: 8vh 0 0;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(20 20 20 / 90%);
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgb(0 0 0 / 5%);
  }

  .header-items.active {
    transform: translateX(0%);
  }

  .header-navbar-list {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .header-nav-link {
    padding: 1.5rem 0 0.5rem;
  }

  .header-right-nav {
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 0;
    height: 184px;
  }

  .header-items.active nav {
    overflow: auto;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .header {
    margin-left: 0;
    margin-right: 0;
  }

  .header-logo-btn {
    width: 144px;
    height: 83px;
  }

  .header-logo {
    transform: scale(0.9);
  }

  .header-navbar-list {
    padding-left: 0.1rem;
  }

  .header-right-nav {
    padding-right: 1rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .header {
    margin-left: 0;
    margin-right: 0;
  }

  .header-logo-btn {
    width: 176px;
    height: 102px;
  }

  .header-logo {
    width: 11rem;
  }

  .header-navbar-list {
    padding-left: 0.3rem;
  }

  .header-right-nav {
    padding-right: 1rem;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .header {
    margin-left: 0;
    margin-right: 0;
  }

  .header-right-nav {
    padding-right: 2rem;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1600px) {
  .header {
    margin-left: 2.4vw;
    margin-right: 2.4vw;
  }
}
