#branches {
  padding-bottom: 5rem;
}

#branches .cards-container {
  margin-top: 1rem;
}

#branches .hidden-loader {
  margin-top: -3rem;
}

@media (max-width: 600px) {
  #branches {
    padding-bottom: 0;
  }
}
