.modal {
  margin: auto;
  max-width: 80%;
  width: auto;
}

.modal > .confirmation-modal {
  background: var(--background-gray);
  text-align: center;
  border-radius: 1rem;
  max-width: 100%;
  margin: auto;
  padding: 2rem 0;
}

.modal > .confirmation-modal p {
  margin: 0.75rem 3.75rem;
  text-align: justify;
  color: var(--primary-white);
}

.modal-overlay {
  z-index: 99;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 0 0 / 50%);
}
