.filtering-text-input-container {
  width: 372px;
  height: 45px;
  max-width: 100%;
  position: relative;
}

input.filtering-text-input {
  width: calc(100% - 4rem);
  height: calc(100% - 0.25rem);
  padding-right: 3rem;
  padding-left: 0.75rem;
  background: #303030;
  border-radius: 5px;
  border: 1px solid #707070;
  font-weight: 300;
  font-size: 1rem;
  color: var(--primary-white);
}

input.filtering-text-input::placeholder {
  color: var(--dark-gray);
}

input.filtering-text-input:hover,
input.filtering-text-input:focus {
  border: 1px solid var(--primary-white);
}

.filtering-text-input-container svg {
  position: absolute;
  top: 23px;
  transform: translateY(-50%);
  right: 0.75rem;
  pointer-events: none;
  fill: #707070;
}

.filtering-text-input-container svg path {
  pointer-events: none;
}

input.filtering-text-input:focus + svg {
  fill: var(--primary-white);
}

@media (max-width: 600px) {
  .filtering-text-input-container {
    width: 100%;
  }
}
