#section-about-us {
  margin-bottom: 5rem;
}

.no-side-padding {
  padding-left: 0;
  padding-right: 0;
}

.homepage-section-title {
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
  padding: 0 5rem;
}

#section-about-us .homepage-section-title {
  margin-top: 5rem;
}

#section-projects {
  margin-bottom: 4rem;
}

#section-projects .projects,
#section-partners .carousel-wrapper {
  margin-top: 6.75rem;
}

.projects img {
  height: 250px;
  width: auto;
  transition: 0.3s;
  object-fit: contain;
}

.fading-images {
  position: relative;
}

.fading-images img {
  object-fit: unset;
}

.background-icon {
  position: absolute;
}

.passport {
  left: -240px;
  bottom: -120px;
}

.ticket {
  top: -120px;
  right: -240px;
}

.fading-wrapper {
  margin: auto;
  text-align: center;
}

.fading-wrapper img {
  border-radius: 58px;
  margin: auto;
  max-width: 75%;
}

#section-partners.section {
  margin: auto 0 15rem;
}

#section-partners .homepage-section-title {
  margin-left: 10rem;
  margin-right: 10rem;
}

#homepage {
  /* background-image: url("../../../assets/img/Lines.svg"); */
  overflow: hidden;
  background-size: 115% auto;
  background-position: left 50px top -150px;
  background-repeat: no-repeat;
  margin-top: -164px;
}

.projects img:hover {
  transform: scale(1.06);
}

@media (max-width: 600px) {
  div#homepage {
    background-image: none;
    margin-top: 0;
  }

  .homepage-section-title {
    padding: 0 1rem;
  }

  .fading-wrapper img {
    border-radius: 20px;
  }

  #section-projects .projects {
    flex-direction: column;
    margin-top: 2rem;
  }

  .projects img {
    max-width: 80%;
    align-self: center;
    max-height: 150px;
  }

  .projects img:first-child {
    margin: auto auto 5rem;
  }

  #section-partners .carousel-wrapper {
    margin-top: 0;
  }

  #section-about-us .homepage-section-title {
    margin-top: 2rem;
  }

  .passport {
    left: -50px;
    max-width: 80px;
    bottom: -30px;
  }

  .ticket {
    right: -50px;
    max-width: 80px;
    top: -30px;
  }

  #section-partners.section {
    margin: auto 0 4rem;
    padding-top: 10px;
  }

  #section-partners .homepage-section-title {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 1.875rem;
    margin-bottom: 0;
  }

  .map {
    margin-top: 8vh;
  }

  #section-projects {
    margin-bottom: 1rem;
    padding-top: 30px;
  }

  #section-about-us {
    margin-bottom: 1rem;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  #homepage {
    background-image: none;
    margin-top: 0;
  }

  .homepage-section-title {
    padding: 0 2rem;
  }

  .fading-wrapper img {
    border-radius: 20px;
  }

  #section-projects .projects {
    flex-direction: column;
  }

  .projects img {
    height: 230px;
    width: auto;
    align-self: center;
  }

  .projects img:first-child {
    margin: auto auto 5rem;
  }

  #section-projects .projects,
  #section-partners .carousel-wrapper {
    margin-top: 2.5rem;
  }

  #section-about-us .homepage-section-title {
    margin-top: 3rem;
  }

  .passport {
    left: -70px;
    max-width: 130px;
    bottom: -70px;
  }

  .ticket {
    right: -70px;
    max-width: 130px;
    top: -70px;
  }

  #section-partners.section {
    margin: auto 0 4rem;
  }

  #section-partners .homepage-section-title {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  #section-about-us {
    margin-bottom: 3rem;
  }

  .map {
    margin-top: 8vh;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #homepage {
    /* background-image: url("../../../assets/img/Lines.svg"); */
    margin-top: -87px;
  }

  .homepage-section-title {
    padding: 0 4rem;
  }

  .fading-wrapper img {
    border-radius: 40px;
  }

  .projects img {
    height: 170px;
    width: auto;
  }

  #section-projects .projects,
  #section-partners .carousel-wrapper {
    margin-top: 2.5rem;
  }

  #section-about-us .homepage-section-title {
    margin-top: 3rem;
  }

  .passport {
    left: -100px;
    max-width: 180px;
  }

  .ticket {
    right: -100px;
    max-width: 180px;
  }

  #section-partners.section {
    margin: auto 0 5rem;
  }

  #section-partners .homepage-section-title {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  #homepage {
    margin-top: -105px;
  }

  .fading-wrapper img {
    border-radius: 45px;
  }

  .homepage-section-title {
    padding: 0 5rem;
  }

  .projects img {
    height: 200px;
    width: auto;
  }

  #section-projects .projects,
  #section-partners .carousel-wrapper {
    margin-top: 3rem;
  }

  #section-about-us .homepage-section-title {
    margin-top: 4rem;
  }

  .passport {
    left: -150px;
    max-width: 220px;
  }

  .ticket {
    right: -150px;
    max-width: 220px;
  }

  #section-partners.section {
    margin: auto 0 7rem;
  }

  #section-partners .homepage-section-title {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .fading-wrapper img {
    border-radius: 58px;
  }

  .projects img {
    height: 220px;
    width: auto;
  }

  #section-projects .projects,
  #section-partners .carousel-wrapper {
    margin-top: 4rem;
  }

  #section-about-us .homepage-section-title {
    margin-top: 5rem;
  }

  .passport {
    left: -200px;
    max-width: 260px;
  }

  .ticket {
    right: -200px;
    max-width: 260px;
  }

  #section-partners.section {
    margin: auto 0 10rem;
  }

  #section-partners .homepage-section-title {
    margin-left: 7rem;
    margin-right: 7rem;
  }
}

@media (min-width: 1440px) and (max-width: 1600px) {
  #section-projects .projects,
  #section-partners .carousel-wrapper {
    margin-top: 5rem;
  }
}
