.entity-header-wrapper {
  background: var(--background-black);
}

.entity-header {
  height: 320px;
  max-height: 35vh;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-shadow: inset 0 -40px 100px #000000b8;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.entity-header-children-wrapper {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  right: 1rem;
  top: 1rem;
}

.entity-header-titles {
  margin: 0.5rem 2.5rem;
  max-width: 60%;
  font-size: 5rem;
}

.entity-header h1 {
  font-weight: 900;
  font-size: 1em;
  margin: 0;
}

.entity-header p {
  font-size: 0.4125em;
  margin: 0 0 0.25rem;
  font-weight: 300;
  font-style: italic;
}

.entity-header-details-wrapper {
  display: flex;
  margin: 0 1.25rem;
  justify-content: flex-end;
}

.entity-header-details-wrapper div {
  text-align: center;
  margin: 0.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.entity-header-details-wrapper div p {
  margin: 0;
}

.entity-header-details-wrapper div p:first-child {
  font-size: 1.125rem;
  font-weight: 500;
}

.entity-header-details-wrapper div p:last-child {
  font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
  .entity-header {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: auto;
    padding-top: 1rem;
    max-height: unset;
    min-height: 220px;
  }

  .entity-header-titles {
    max-width: 100%;
    text-align: center;
    font-size: 2.25rem;
  }

  .entity-header-details-wrapper {
    width: calc(100% - 2.5rem);
  }

  .entity-header-details-wrapper div {
    margin: 0.5rem 0.75rem 1rem;
    width: 50%;
  }

  .entity-header-details-wrapper div:first-child:last-child {
    width: 100%;
  }

  .entity-header-details-wrapper div p:first-child {
    font-size: 0.875rem;
  }

  .entity-header-details-wrapper div p:last-child {
    font-size: 1rem;
  }

  .entity-header h1.entity-long-title {
    font-size: 0.8em;
  }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  .entity-header-titles {
    margin-bottom: 1.5rem;
    font-size: 2.25rem;
    margin-right: 0.5rem;
  }

  .entity-header-details-wrapper div {
    height: unset;
    margin-bottom: 1.75rem;
  }

  .entity-header-details-wrapper div p:first-child {
    font-size: 0.875rem;
  }

  .entity-header-details-wrapper div p:last-child {
    font-size: 1.15rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .entity-header-titles {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
  }

  .entity-header p {
    margin: 0;
  }

  .entity-header-details-wrapper div {
    height: unset;
    margin-bottom: 1.75rem;
  }

  .entity-header-details-wrapper div p:first-child {
    font-size: 0.875rem;
  }

  .entity-header-details-wrapper div p:last-child {
    font-size: 1.15rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .entity-header-titles {
    margin-bottom: 1.5rem;
    font-size: 3rem;
  }

  .entity-header p {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .entity-header-titles {
    margin-bottom: 1rem;
    font-size: 4rem;
  }

  .entity-header h1.entity-long-title {
    font-size: 0.7em;
  }
}

@media screen and (min-width: 1440px) {
  .entity-header h1.entity-long-title {
    font-size: 0.7em;
  }
}
