.event-card .caption-icon {
  margin: 6px 0 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 1.5rem;
}

.card.event-card .caption-title {
  height: 46px;
  margin: 0;
}

.card.event-card .caption-icon {
  font-size: 1rem;
}

.event-card .caption-icon:last-child {
  margin-bottom: 0;
}

.event-card .caption-title + .caption-icon {
  margin-top: 2px;
}

.event-card .caption-icon svg {
  fill: var(--primary-red);
  margin-right: 5px;
  font-size: 1.5rem;
  vertical-align: bottom;
}

@media (max-width: 768px) {
  .card.event-card .caption-title {
    height: 37px;
  }

  .card.event-card .caption-icon {
    font-size: 0.75rem;
    min-height: unset;
  }

  .event-card .caption-icon svg {
    font-size: 1rem;
    vertical-align: text-bottom;
  }
}

@media (min-width: 1200px) and (max-width: 1300px) {
  .card.event-card .caption-icon {
    font-size: 0.85rem;
    min-height: unset;
  }

  .event-card .caption-icon svg {
    font-size: 1.25rem;
    vertical-align: bottom;
  }
}

@media (min-width: 1536px) and (max-width: 1730px) {
  .card.event-card .caption-icon {
    font-size: 0.8rem;
    min-height: unset;
  }

  .event-card .caption-icon svg {
    font-size: 1.125rem;
    vertical-align: middle;
  }
}
