.split {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  padding-right: 1em;
}

.split-left,
.split-right {
  display: flex;
  align-items: center;
}

.split-left {
  flex-direction: row;
  text-align: left;
}

.split-right {
  flex-direction: row-reverse;
  text-align: right;
}

.section .split-left p,
.section .split-right p,
.section .split-left li,
.section .split-right li {
  font-size: 1.45rem;
  font-weight: 100;
}

.split-title-left {
  padding: 0 5rem;
  text-align: left;
  margin-bottom: 0;
}

.split-title-right {
  margin-bottom: 0;
  padding: 0 5rem;
  text-align: right;
}

.half {
  width: 75%;
}

@media screen and (max-width: 768px) {
  .section .split-left p,
  .section .split-right p,
  .section .split-left li,
  .section .split-right li {
    font-size: 1rem;
    text-align: justify;
  }

  .half {
    width: 100%;
  }

  .split-left,
  .split-right {
    text-align: justify;
  }

  .split-title-right,
  .split-title-left {
    padding: 0;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .section .split-left p,
  .section .split-right p,
  .section .split-left li,
  .section .split-right li {
    font-size: 1.2rem;
    text-align: justify;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .split-title-left {
    padding: 0 4rem;
  }

  .split-title-right {
    padding: 0 4rem;
  }
}

@media (min-width: 992px) {
  .split-title-left {
    padding: 0 5rem;
  }

  .split-title-right {
    padding: 0 5rem;
  }
}
