.carousel-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.carousel-with-arrows {
  display: flex;
  position: relative;
}

.carousel-arrow {
  align-self: center;
  min-width: unset;
  margin: 5rem;
  padding: 1rem 0.9rem;
}

.carousel-loader {
  text-align: center;
  display: flex;
  place-content: center;
  height: 170px;
}

.carousel-loader > span {
  margin: auto;
}

.carousel {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-touchy-touchy {
  touch-action: none;
}

.carousel-block {
  flex-basis: 25%;
  min-width: 25%;
  max-width: 25%;
  text-align: center;
  box-sizing: border-box;
}

.carousel.spacing-large .carousel-block {
  padding: 0 2rem;
}

.carousel.spacing-medium .carousel-block {
  padding: 0 1rem;
}

.carousel.spacing-small .carousel-block {
  padding: 0 0.5rem;
}

.carousel.spacing-none .carousel-block {
  padding: 0;
}

.carousel-block > * {
  margin: auto;
  overflow: hidden;
}

.carousel-block * {
  max-height: 100%;
  max-width: 100%;
}

.carousel-arrow svg {
  fill: #707070;
  font-size: 2rem;
}

.carousel-arrow.prev svg {
  margin-right: 0.2rem;
}

.carousel-arrow.next svg {
  margin-left: 0.2rem;
}

.carousel-arrow:hover {
  background-color: #707070;
}

.carousel-arrow:hover svg {
  fill: #fff;
}

@media (max-width: 600px) {
  .carousel-block {
    flex-basis: 100%;
    min-width: 100%;
    max-width: 100%;
  }

  .carousel.spacing-large .carousel-block {
    padding: 0 0.75rem;
  }

  .carousel.spacing-medium .carousel-block {
    padding: 0 0.375rem;
  }

  .carousel.spacing-small .carousel-block {
    padding: 0 0.125rem;
  }

  .carousel-arrow {
    margin: 1rem;
    top: 17.5%;
    position: absolute;
    z-index: 1;
  }

  .carousel-arrow.next {
    right: 0.5rem;
  }

  .carousel-arrow.prev {
    left: 0.5rem;
  }

  .carousel-arrow svg {
    font-size: 1.5rem;
  }

  .carousel-arrow.next svg {
    margin-left: 0.15rem;
  }

  .carousel-arrow.prev svg {
    margin-right: 0.15rem;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .carousel-block {
    flex-basis: 50%;
    min-width: 50%;
    max-width: 50%;
  }

  .carousel.spacing-large .carousel-block {
    padding: 0 1rem;
  }

  .carousel.spacing-medium .carousel-block {
    padding: 0 0.5rem;
  }

  .carousel.spacing-small .carousel-block {
    padding: 0 0.25rem;
  }

  .carousel-arrow {
    margin: 1rem;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .carousel-block {
    flex-basis: 33.3%;
    min-width: 33.3%;
    max-width: 33.3%;
  }

  .carousel.spacing-large .carousel-block {
    padding: 0 1.5rem;
  }

  .carousel.spacing-medium .carousel-block {
    padding: 0 0.75rem;
  }

  .carousel.spacing-small .carousel-block {
    padding: 0 0.375rem;
  }

  .carousel-arrow {
    margin: 2rem;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .carousel-block {
    flex-basis: 33.3%;
    min-width: 33.3%;
    max-width: 33.3%;
  }

  .carousel.spacing-large .carousel-block {
    padding: 0 1.8rem;
  }

  .carousel.spacing-medium .carousel-block {
    padding: 0 0.9rem;
  }

  .carousel.spacing-small .carousel-block {
    padding: 0 0.45rem;
  }

  .carousel-arrow {
    margin: 3rem;
  }
}

@media (min-width: 1201px) and (max-width: 1440px) {
  .carousel-arrow {
    margin: 3rem;
  }
}

@media (min-width: 2137px) {
  .carousel-block {
    flex-basis: 20%;
    min-width: 20%;
    max-width: 20%;
  }
}
