.entity-section.description .event-description-details {
  margin: 1.5rem 0;
}

.entity-header.event-header {
  background-image: url('assets/img/entity-banner-placeholder.jpg');
}

.entity-section.description .event-description-details p {
  text-align: center;
  font-size: 1.125rem;
  margin: 0.5rem 1rem;
}

.entity-section.description .event-description-details p:first-child {
  font-weight: 400;
}

.entity-section.description .event-description-details p:last-child {
  font-size: 1.5rem;
}

#event .entity-header-details-wrapper div:first-child {
  max-width: 50%;
}
