.admin-data-grid-toolbar-actions svg {
  scale: 1.5;
}

.admin-data-grid-toolbar-actions:disabled,
.admin-data-grid-toolbar-actions:disabled svg {
  color: rgb(255 255 255 / 30%);
  fill: rgb(255 255 255 / 30%);
}
