.single-contact-board {
  background-color: var(--primary-white);
  width: fit-content;
  display: flex;
  flex-direction: row;
  padding: 0 2rem 0 4rem;
  border-radius: 2rem;
}

.single-board-photo-container {
  transform: scale(1.3);
  transform-origin: center;
  background-color: #aeaeae;
  border-radius: 2rem;
  padding: 0.7rem;
  margin-right: 5rem;
  width: 250px;
}

.single-board-photo {
  border-radius: 2rem;
  object-fit: cover;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
}

.single-board-member-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.single-board-desc {
  margin-bottom: 1em;
}

.single-board-header > *,
.single-board-desc,
.single-board-desc p,
.single-board-desc li {
  color: var(--background-black);
}

.single-board-header > h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0;
}

.single-board-header > p {
  margin-top: 0;
  font-size: 20px;
}

.single-board-desc,
.single-board-desc p {
  font-size: 1rem;
}

@media (max-width: 992px) {
  .single-contact-board {
    flex-direction: column;
    padding: 0 2rem;
  }

  .single-board-photo-container {
    max-width: 175px;
    margin: auto;
  }

  .single-board-member-info {
    margin-top: 3rem;
  }
}
