.data-grid-multiline-cell {
  position: relative;
  align-self: flex-start;
}

.data-grid-multiline-cell-hint {
  position: absolute;
  right: 24px;
  bottom: 10px;
  font-size: 0.65rem;
  color: gray;
}
