.admin-panel {
  margin: 0 10% 10%;
}

.board-data-grid-container {
  display: flex;
  flex-direction: column;
}

.board-data-grid-dropdown {
  width: 160px !important;
  max-width: 100%;
  align-self: flex-end;
}

.board-data-grid-dropdown .closed-options,
.board-data-grid-dropdown .option-container {
  position: absolute;
  width: 100%;
  bottom: -100%;
  z-index: 1;
}

.board-data-grid-dropdown .custom-select {
  margin-bottom: 4px;
}

.super-admin-grids {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
