.admin-panel {
  margin: 0 10% 10%;
}

.admin-panel-back-link {
  color: var(--primary-white);
  background: transparent;
  text-transform: none;
  font-weight: 700;
  margin-left: -2rem;
  text-decoration: underline solid transparent;
  transition: text-decoration 300ms ease;
}

.admin-panel-back-link:hover {
  text-decoration: underline solid currentcolor;
}

.admin-panel-back-link + h1 {
  margin-top: 0;
}
