#profile .entity-loader {
  margin-bottom: 3rem;
}

#profile button.link-button:disabled,
#profile button.link-button[disabled] {
  color: var(--primary-white);
}

#profile .entity-sidebar p.email {
  font-size: 1rem;
  font-weight: 300;
}

#profile .email-profile-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem -2.5rem;
  max-width: calc(100% + 5rem);
}

#profile .email-profile-wrapper p.email {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

#profile .email-profile-wrapper .conditional-input-wrapper {
  max-width: calc(100% - 120px);
}

#profile .email-profile-icon {
  padding: 0 0.5rem 0 1.5rem;
}

#profile .wrapped .email-profile-icon {
  padding-left: 0.5rem;
}

#profile .email-profile-wrapper .edit-icons-wrapper {
  padding: 0 1rem 0 0.5rem;
}

button.wrapped-text-button svg {
  transition: 0.3s;
}

.wrapped-text + div button.wrapped-text-button svg {
  transform: rotate(180deg);
}

.no-description-info {
  font-style: italic;
  text-align: center;
}

.entity-header.person-header {
  background-image: url('assets/img/person-banner-placeholder.jpg');
}

.conditional-input-wrapper:last-child p.conditional-input.username {
  margin-top: 8px;
}

p.profile-description-conditional-input {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.conditional-input-wrapper .conditional-input.username.input-container {
  margin-top: 5px;
}

.conditional-input-wrapper:first-child
  .conditional-input.username.input-container {
  margin-top: -1px;
}

.entity-wrapper .conditional-input.username.input-container input {
  font-size: 1em;
  font-weight: 700;
  padding: 0.5rem;
  text-align: center;
  width: calc(100% - 1rem);
}

.conditional-input.profile-description-conditional-input textarea {
  font-size: 1.25rem;
  font-weight: 400;
  margin: -1rem -1rem 0;
}

.conditional-input.profile-description-conditional-input p {
  overflow-wrap: break-word;
}

@media (max-width: 600px) {
  #profile .email-profile-wrapper {
    max-width: calc(100% + 3rem);
  }
}

@media (max-width: 374px) {
  #profile .email-profile-wrapper.wrapped {
    flex-wrap: wrap;
  }

  #profile .email-profile-wrapper.wrapped .conditional-input-wrapper {
    max-width: unset;
  }

  .email-profile-wrapper .edit-icons-wrapper.editing {
    width: 100%;
    justify-content: center;
  }
}

@media (min-width: 769px) and (max-width: 900px) {
  #profile .email-profile-wrapper.wrapped {
    flex-wrap: wrap;
  }

  #profile .email-profile-wrapper.wrapped .conditional-input-wrapper {
    max-width: unset;
  }

  .email-profile-wrapper .edit-icons-wrapper.editing {
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 992px) {
  .entity-wrapper .conditional-input.username.input-container input {
    padding: 0.13rem;
    width: calc(100% - 0.26rem);
  }

  .conditional-input-wrapper .conditional-input.username.input-container {
    margin-top: 0.5rem;
  }

  .conditional-input-wrapper:first-child
    .conditional-input.username.input-container {
    margin-top: -0;
  }

  .conditional-input.profile-description-conditional-input textarea {
    font-size: 1rem;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .conditional-input.profile-description-conditional-input textarea {
    font-size: 1rem;
  }
}

/* temporary until more elements are available for sticky menu */
@media (max-width: 768px) {
  #profile .sticky-menu {
    display: none;
  }

  .wrapped-text p {
    /* stylelint-disable-next-line value-no-vendor-prefix */
    display: -webkit-box;
    -webkit-line-clamp: 7;
    line-clamp: 7;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
