/* stylelint-disable selector-class-pattern */

@font-face {
  font-family: Roboto-fallback;
  size-adjust: 93.06%;
  ascent-override: 96%;
  src: local('Arial');
}

html {
  scrollbar-gutter: stable;
}

:root {
  color-scheme: dark;

  --primary-red: #e52a30;
  --primary-white: #fafafa;
  --background-gray: #272727;
  --background-black: #141414;
  --dark-gray: #bbb;
  --light-gray: #ececec;
  --error-red: #ae0308;
}

* {
  font-family: Roboto, Roboto-fallback, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background: var(--background-black);
  color: var(--primary-white);
}

.locked-scroll {
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  object-fit: scale-down;
}

.accent {
  color: var(--primary-red);
}

.hidden {
  opacity: 0;
  transition: 0.3s;
  pointer-events: none;
}

.section {
  margin: auto 10rem 15rem;
}

.section p,
.section li {
  font-size: 1.5rem;
}

.section li {
  margin: 0.5rem 5rem;
  padding: 0;
}

.section p {
  padding: 0 5rem;
}

.flex-centered {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
}

.form-container {
  width: 326px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
}

.form-container-wide,
.form-container.form-container-wide {
  width: 540px;
}

.bottom-form-text {
  margin-top: 3rem;
}

.form-container .horizontal-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-heading,
h1.form-heading {
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--primary-white);
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}

.small,
.section .small,
.entity-sidebar .entity-section .small {
  font-size: 0.875rem;
}

.dimmed {
  color: #707070;
}

a {
  color: var(--primary-red);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.MuiCircularProgress-circle {
  color: var(--primary-red);
}

.select-wrapper .MuiSvgIcon-root.expand-icon,
.autocomplete-container .MuiSvgIcon-root.expand-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  fill: #707070;
  pointer-events: none;
  transition: all ease 300ms;
}

.select-wrapper .MuiSvgIcon-root.expand-icon {
  right: 0.4rem;
}

.autocomplete-container .MuiSvgIcon-root.expand-icon {
  right: 1rem;
}

.select-wrapper.with-error .MuiSvgIcon-root.expand-icon,
.autocomplete-container .with-error .MuiSvgIcon-root.expand-icon {
  fill: var(--error-red);
}

.select-wrapper select:focus.MuiSvgIcon-root.expand-icon,
.autocomplete-container
  .input-container[aria-owns]
  .MuiSvgIcon-root.expand-icon {
  transform: translateY(-50%) rotate(180deg);
}

.blurred {
  filter: blur(6px);
}

.text-and-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.text-and-button-container p {
  margin: 0;
}

.info-page {
  padding-top: 2rem;
  margin-bottom: 8rem;
}

.info-title {
  margin: 2rem auto;
  text-align: center;
  font-size: 56px;
  font-weight: 400;
}

.info-page .section .split-left {
  text-align: justify;
}

.info-page > .section {
  margin-bottom: 3rem;
}

.info-section-title {
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
  padding: 0 5rem;
}

.event-group {
  text-align: center;
  min-height: 250px;
  position: relative;
}

.show-more-button-wrapper {
  height: 37px;
  overflow: hidden;
  text-align: center;
}

.entity-wrapper {
  margin: 4rem calc(7vw + 35px) 6rem;
  background: #181818;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.entity-inner-content {
  padding: 0 2.5rem 2.5rem;
  position: relative;
}

.entity-loader,
.card-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.entity-loader > span,
.card-loader > span {
  align-self: center;
}

.entity-column-layout {
  display: flex;
  width: 100%;
}

.entity-sidebar {
  width: 36%;
  max-width: 473px;
  background-color: var(--background-gray);
  text-align: center;
  border-bottom-left-radius: 2rem;
  padding-bottom: 3rem;
}

.entity-sidebar-main-picture-wrapper {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  position: relative;
  margin: -150px auto 0;
  overflow: visible;
}

.entity-sidebar-main-picture {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.entity-sidebar-main-picture.unverified {
  outline: 3px solid #ffc400;
  box-shadow: 0 0 15px 4px #ffc400;
}

.entity-sidebar-titles {
  font-size: 2.25rem;
  margin: 2.25rem 0;
}

.entity-sidebar-title {
  margin: 0 0 1.5rem;
}

.entity-sidebar-title,
.entity-sidebar-title p {
  font-size: 1em;
  font-weight: 700;
}

.entity-sidebar-title p {
  margin: 0;
}

.entity-sidebar .heading {
  color: var(--primary-white);
  font-weight: 400;
  font-size: 1.625rem;
}

.entity-sidebar-subtitle,
.entity-sidebar-subtitle p {
  font-size: 0.5em;
  font-weight: 300;
  margin: 0 0 0.25rem;
}

.entity-sidebar-subtitle a,
.entity-header-details-wrapper a {
  color: var(--light-gray);
}

.entity-column-layout-content {
  flex: 1;
  width: 64%;
}

.entity-sidebar .entity-section {
  text-align: left;
}

.entity-sidebar .entity-section p {
  font-size: 1.25rem;
}

.entity-sidebar-text-content {
  padding: 0 2.5rem;
}

.horizontal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2.875rem;
}

.justified {
  text-align: justify;
}

.capitalized {
  text-transform: capitalize;
}

.capitalize-first-letter::first-letter {
  text-transform: capitalize;
}

.error-colored {
  color: var(--error-red);
}

.mobile-only {
  display: none;
}

.unverified-icon,
.terminated-icon {
  background-color: transparent;
  font-size: 0.7em;
  vertical-align: baseline;
  margin: 0 0 0 0.4rem;
}

.unverified-icon {
  fill: #ffc400;
}

.terminated-icon {
  fill: var(--error-red);
}

.extra-margin-top-toc {
  margin-top: 4rem;
}

.entity-wrapper .conditional-input.input-container {
  padding-top: 0;
  max-width: unset;
}

.entity-wrapper .conditional-input.input-container input {
  padding: 0.3rem 0.7rem;
}

.filter-column-wrapper {
  display: flex;
  justify-content: stretch;
}

@media (max-width: 326px) {
  .form-container {
    margin-left: 2%;
    margin-right: 3%;
    max-width: 95%;
  }

  .email-info-form-container.form-container.form-container-wide {
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    width: calc(100% - 1.2rem);
  }
}

@media (max-width: 570px) {
  .form-container.form-container-wide {
    margin-left: 2%;
    margin-right: 3%;
    max-width: 95%;
  }

  .email-info-form-container.form-container.form-container-wide {
    margin-left: 1rem;
    margin-right: 1rem;
    width: calc(100% - 2rem);
  }

  .form-container .horizontal-inputs {
    flex-direction: column;
  }

  .form-container.form-container-wide .horizontal-inputs .input-container {
    width: 100%;
  }

  .text-and-button-container {
    flex-direction: column;
    align-items: end;
  }

  .text-and-button-container button:not(.send-again-button) {
    margin-top: 1rem;
  }
}

@media (max-width: 600px) {
  .section {
    margin: auto 1rem 4rem;
  }

  section,
  .section {
    padding-top: 87px;
  }

  .section p,
  .section li {
    font-size: 1rem;
  }

  .section li {
    margin: 0.5rem 1rem;
  }

  .section p {
    padding: 0 1rem;
  }

  .info-page {
    padding-top: 5rem;
  }

  .info-section-title {
    padding: 0 1rem;
  }

  .info-title {
    margin: 2rem auto;
    text-align: center;
    font-size: 32px;
  }

  .entity-wrapper {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 7rem;
  }

  .entity-column-layout {
    flex-direction: column;
  }

  .entity-sidebar {
    width: 100%;
    max-width: unset;
    border-bottom-left-radius: 0;
    padding-bottom: 2rem;
  }

  .entity-column-layout-content {
    width: 100%;
  }

  .entity-sidebar-main-picture-wrapper {
    margin: -75px auto 0;
    width: 150px;
    height: 150px;
  }

  .entity-sidebar-titles {
    margin: 1rem 0 0;
    font-size: 1.75rem;
  }

  #profile .entity-header {
    height: 200px;
  }

  .entity-sidebar .entity-section .heading {
    padding-top: 1.5rem;
  }

  .entity-sidebar-subtitle,
  .entity-sidebar-subtitle p {
    font-size: 0.6em;
  }

  .entity-sidebar .entity-section p {
    font-size: 1rem;
  }

  .mobile-only {
    display: block;
  }

  .entity-sidebar-text-content {
    padding: 0 1.5rem;
  }

  .entity-inner-content {
    padding: 0 1rem 1rem;
  }

  .entity-inner-content .event-group,
  .entity-inner-content .members-section {
    margin: 0 -0.75rem;
  }

  .filter-column-wrapper {
    flex-direction: column;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .section {
    margin: auto 2rem 4rem;
  }

  section,
  .section {
    padding-top: 87px;
  }

  .section p,
  .section li {
    font-size: 1.5rem;
  }

  .section li {
    margin: 0.5rem 2rem;
  }

  .section p {
    padding: 0 2rem;
  }

  .info-page {
    padding-top: 5rem;
  }

  .info-section-title {
    padding: 0 2rem;
  }

  .info-title {
    font-size: 40px;
  }

  .entity-wrapper {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 7rem;
  }

  .entity-column-layout {
    flex-direction: column;
  }

  .entity-sidebar {
    width: 100%;
    max-width: unset;
    border-bottom-left-radius: 0;
    padding-bottom: 1rem;
  }

  .entity-column-layout-content {
    width: 100%;
  }

  .entity-sidebar-main-picture-wrapper {
    margin: -90px auto 0;
    width: 180px;
    height: 180px;
  }

  .entity-sidebar-titles {
    margin: 1rem 0 0;
    font-size: 1.75rem;
  }

  #profile .entity-header {
    height: 250px;
  }

  .entity-sidebar .entity-section .heading {
    padding-top: 1.5rem;
  }

  .entity-sidebar-subtitle,
  .entity-sidebar-subtitle p {
    font-size: 0.6em;
  }

  .entity-sidebar .entity-section p {
    font-size: 1rem;
  }

  .mobile-only {
    display: block;
  }

  .entity-inner-content {
    padding: 0 1rem 1rem;
  }

  .filter-column-wrapper {
    flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .section {
    margin: auto 3rem 5rem;
  }

  .section li {
    margin: 0.5rem 4rem;
  }

  .section p {
    padding: 0 4rem;
  }

  .info-page {
    padding-top: 2rem;
  }

  .info-section-title {
    padding: 0 4rem;
  }

  .info-title {
    font-size: 47px;
  }

  .entity-wrapper {
    margin-left: 15px;
    margin-right: 15px;
  }

  .entity-sidebar-main-picture-wrapper {
    margin: -100px auto 0;
    width: 200px;
    height: 200px;
  }

  .entity-sidebar-titles {
    font-size: 1.75rem;
  }

  .entity-sidebar-subtitle,
  .entity-sidebar-subtitle p {
    font-size: 0.6em;
  }

  .entity-sidebar .line-after::after,
  .entity-sidebar .line-before::before {
    display: none;
  }

  .entity-sidebar .entity-section p {
    font-size: 1rem;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .section {
    margin: auto 5rem 7rem;
  }

  .section li {
    margin: 0.5rem 5rem;
  }

  .section p {
    padding: 0 5rem;
  }

  .info-page {
    padding-top: 2rem;
  }

  .info-section-title {
    padding: 0 5rem;
  }

  .info-title {
    font-size: 50px;
  }

  .entity-wrapper {
    margin-left: 20px;
    margin-right: 20px;
  }

  .entity-sidebar-main-picture-wrapper {
    margin: -125px auto 0;
    width: 250px;
    height: 250px;
  }

  .entity-sidebar .entity-section p {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .section {
    margin: auto 7rem 10rem;
  }

  .info-page {
    padding-top: 2rem;
  }

  .info-section-title {
    padding: 0 7rem;
  }

  .info-title {
    font-size: 53px;
  }

  .entity-wrapper {
    margin-left: 35px;
    margin-right: 35px;
  }
}

@media (min-width: 1440px) and (max-width: 1600px) {
  .info-page {
    padding-top: 2rem;
  }

  .info-section-title {
    padding: 0 9rem;
  }

  .info-title {
    font-size: 56px;
  }

  .entity-wrapper {
    margin-left: calc(2.4vw + 35px);
    margin-right: calc(2.4vw + 35px);
  }
}
