.map-chart-wrapper {
  height: calc(100vh - 164px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.hidden-loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: -1;
}

/* stylelint-disable-next-line selector-class-pattern */
.map-chart-wrapper .__react_component_tooltip::before {
  z-index: -1 !important;
}

@media (max-width: 768px) {
  .map-chart-wrapper {
    margin-top: 87px;
    height: calc(100vh - 87px - 3rem);
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .map-chart-wrapper {
    height: calc(100vh - 87px);
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .map-chart-wrapper {
    height: calc(100vh - 105px);
  }
}
